body{
  margin:0;
  padding: 0;
  overflow-x: hidden;
}
.navbar{
  padding: 20px 20px 20px 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #ffffff !important;
}
.navbar .nav-link{
  color: #ffffff;
}
.navbar-nav li{
  margin: 5px 20px 5px 20px;
}
.nav-form-button button{
  margin-right: 50px;
  border-radius: 20px;
  background-color: #f5bb00;
  color: #ffffff;
  animation-name: tada;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.nav-form-button button:hover{
  background-color: #fff;
  color: #000;
  transition: .1s;
  animation: none ;
}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.navbar-toggler{
  background-color: #ffffff !important;
}
/* nav ends here */
.vertical-nav-row{
  width: 100vw;
  z-index: 50;
}
.vertical-nav{
  width: 120px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 200px;
}
/* side-nav */
/* landing page */
.main-landing-page{
  height: 100vh;
  background-color: #fff;
}
.title-section{
  background-color: #fff;
}
.title-section .row{
  height: 100vh;
}
.box-title{
  position: absolute;
  background-color: #f5bb00;
  width: 280px;
  height: 80px;
  margin-left: 280px;

}
.main-title{
  position: absolute;
  font-size: 90px;
  font-weight: 1000;
  letter-spacing: 2px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #000;
  line-height: 60px;
  z-index: 100;
}
.tag-line{
  margin-top: 90px;
  font-size: 40px;
  font-weight: light;
  font-family: 'Montserrat', sans-serif;
  color: #212121;
}
.about-text{
  text-align: justify;
  text-justify: inter-word;
  padding-right: 100px;
}
.about-button{
  padding: 5px !important;
  border: solid 2px #fbb004 !important;
  font-family: 'Montserrat', sans-serif;
  color: #000 !important;
  font-size: 18px !important;
  width: 200px;
  border-radius: 35px !important;
}
/*right-section*/
.main-video-section{
  background-color: #f5bb00;
}
.main-video-section .row{
  height: 100vh;
}
.video-header{
  text-align:right;
}
.video-header .place-name span{
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  font-size:16px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.video-header .place-state span{
  background-color: #000;
  color: #fff;
  padding:5px 10px 5px 10px;
  font-size:16px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.main-video{
  margin-left:-80px;
}
.video-icon{
  position:absolute;
  font-size: 64px;
  z-index: 1;
  width: 100px;
  height: 200px;
  border-top-right-radius:200px;
  border-bottom-right-radius:200px;
  margin-top: 45px;
  padding: 50px 0px 0px 5px;
  background-color: rgba(0, 0, 0, .9);
  cursor: pointer;
  color: #fff;
}
.video-icon:hover{
  color: #fbb004;
  transition: 1s;
  transition-timing-function: ease-out;
}
/*right-section*/
/*landing-section*/
/* destination section */
.destination-section{
  background-color: #fff;
  margin:50px 0px 50px 0px;
}
.left-map-col{
  margin-top: 50px;
}
.destination-title{
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
  margin-left: 100px;
  letter-spacing: 2px;
  color: #000;
}
.destination-box{
  position: absolute;
  width: 60px;
  height: 42px;
  z-index: 1;
  background-color: #fbb004;
  margin-left: 250px;
}
.right-destination-detail{
  background-color: #fff;
}
.right-destination-detail a{
  color: inherit;
}
.right-destination-detail a:hover{
  color: inherit;
  text-decoration: none;
}
.destination-row:hover{
  background-color: #fbb004;
  color: #fff;
  transition: .3s;
}
.first-destination{
  padding: 20px 0 20px 0;
}
.destination-place-detail{
  padding: 5px;
}
.destination-place-detail h3{
 font-family: 'Montserrat Alternates', sans-serif;
 font-weight: bold;
}
/* /destination section */
/* numscroller */
.num-container{
  padding: 10px;
  background-color: #fff;
}
.num-row{
  background-color: #fbb004;
  padding: 50px 0px 50px 0px;
}
.destination-numscroller{
  position: absolute;
  z-index: 2;
  font-size: 48px;
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  margin: 20px 0px 0px 120px;
  text-shadow: 1px 1px 5px #000;
}
.destination-numscroller-title{
  position: absolute;
  z-index: 3;
  font-size: 24px;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 80px 0px 0px 30px;
  text-shadow: 1px 1px 5px #000;
}
.customer-numscroller{
  position: absolute;
  z-index: 2;
  font-size: 48px;
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  margin: 20px 0px 0px 100px;
  text-shadow: 1px 1px 5px #000;
}
.customer-numscroller-title{
  position: absolute;
  z-index: 3;
  font-size: 24px;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 80px 0px 0px 20px;
  text-shadow: 1px 1px 5px #000;
}
.successful-numscroller{
  position: absolute;
  z-index: 2;
  font-size: 48px;
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  margin: 20px 0px 0px 120px;
  text-shadow: 1px 1px 5px #000;
}
.successful-numscroller-title{
  position: absolute;
  z-index: 3;
  font-size: 24px;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 80px 0px 0px 40px;
  text-shadow: 1px 1px 5px #000;
}
/* /numscroller */
/* reviews */
.review-section{
  margin:50px 0 50px 0;
}
.review-title{
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
  margin-left: 100px;
  letter-spacing: 2px;
  color: #000;
}
.review-box{
  position: absolute;
  width: 60px;
  height: 42px;
  z-index: 1;
  background-color: #fbb004;
  margin-left: 200px;
}
.review-card-row{
  margin: 50px 0px 50px 0px;
}
.carousel-control-prev{
  left:-100px !important;
}
.carousel-control-next{
  right:-100px !important;
}
.carousel-item{
  transition: transform 3s ease, opacity .5s ease-out;
}
.card .row{
  padding: 10px;
}
.card h6{
  font-family: 'Poiret One', sans-serif;
}
.card h5{
  font-family: 'Montserrat Alternates', sans-serif;
}
.img-col{
  padding: 10px;
}
.img-col img {
  border: solid 3px #000;
}
.fa-star{
  font-size: 48px;
  color: #fbb004;
}
/* /reviews */
/* contact-us */
.contact-section{
  background-color: #fbb004;
  padding: 50px 0 50px 0;
}
.contact-title{
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
  margin-left: 100px;
  letter-spacing: 2px;
  color: #000;
  margin-top: 50px;
}
.contact-box{
  position: absolute;
  width: 60px;
  height: 42px;
  z-index: 1;
  background-color: #fff;
  margin-left: 250px;
  margin-top: 50px;
}
.contact-img-col{
  margin-top: 100px;
}
.contact-email-box{
  margin-top: 100px;
  background-color: #fff;
  border-top-right-radius: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.email-contact-us {
  width: 200px;
}
.contact-email-box .row{
  margin: 40px 0px 0px 0px;
}
.contact-email-box .footer{
  background-color: #000;
  color: #fff;
  padding: 10px;
}
.contact-email-box .footer .btn{
  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.contact-email-box input{
  border-radius: none !important;
  border: none !important;
  border-bottom: solid 1px #212121 !important;
}
.contact-email-box input:hover{
  border-bottom: solid 1px #fbb004 !important;
  transition: .3s;
}
/* /contact-us */
@media (max-width:480px){
  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .main-landing-page{
    height: 150vh;
  }
  .title-section{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .vertical-nav{
    visibility: hidden;
  }
  /* main-title starts*/
  .box-title{
    position: absolute;
    background-color: #f5bb00;
    width: 145px;
    height: 60px;
    margin-left: 155px;
    line-height: 60px;
  }
  .main-title{
    position: absolute;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #000;
    line-height: 60px;
    z-index: 100;
  }
  .tag-line{
    margin-top: 64px;
    font-size: 24px;
    font-weight: light;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
  }
  .about-text{
    text-align: justify;
    text-justify: inter-word;
    padding-right: 0px;
  }
  /* main-title ends */
  /*right-section*/
  .main-video-section .row{
    height: 50vh;
  }
  .video-header{
    text-align:left;
  }
  .video-header .place-name span{
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    font-size:16px;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  .video-header .place-state span{
    background-color: #000;
    color: #fff;
    padding:5px 10px 5px 10px;
    font-size:16px;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  .main-video{
    margin-left:0px;
  }
  .video-icon{
    position:absolute;
    font-size: 40px;
    z-index: 1;
    width: 50px;
    height: 100px;
    border-top-right-radius:100px;
    border-bottom-right-radius:100px;
    margin-top: 7px;
    padding: 20px 0px 0px 5px;
    background-color: rgba(0, 0, 0, .9);
    cursor: pointer;
    color: #fff;
  }
  .video-icon:hover{
    color: #fbb004;
    transition: 1s;
    transition-timing-function: ease-out;
  }
  /*right-section*/
  /* destination */
  .right-destination-detail{
    margin-top: 50px;
  }
  .destination-title{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
    margin-left: 10px;
    letter-spacing: 2px;
    color: #000;
  }
  .destination-box{
    position: absolute;
    width: 60px;
    height: 30px;
    z-index: 1;
    background-color: #fbb004;
    margin-left: 130px;
  }
  /* /destination */
  /* numscroller */
  .num-row{
    margin:50px 0 50px 0;
  }
  .num-container{
    margin: 10px 0 10px 0;
  }
  .destination-numscroller{
    font-size: 40px;
    margin: 20px 0px 0px 120px;
    text-shadow: 1px 1px 5px #000;
  }
  .destination-numscroller-title{
    font-size: 16px;
    margin: 80px 0px 0px 65px;
    text-shadow: 1px 1px 5px #000;
  }
  .customer-numscroller{
    font-size: 40px;
    color: #fff;
    margin: 20px 0px 0px 100px;
    text-shadow: 1px 1px 5px #000;
  }
  .customer-numscroller-title{
    font-size: 16px;
    color: #fff;
    margin: 80px 0px 0px 55px;
    text-shadow: 1px 1px 5px #000;
  }
  .successful-numscroller{
    font-size: 40px;
    color: #fff;
    margin: 20px 0px 0px 120px;
    text-shadow: 1px 1px 5px #000;
  }
  .successful-numscroller-title{
    font-size: 16px;
    color: #fff;
    margin: 80px 0px 0px 65px;
    text-shadow: 1px 1px 5px #000;
  }
  /* /numScroller */
}
